body {
    background-color: #EEEEEE;
	color: b9b9c0;
}

header,
nav,
main,
footer {
    padding: 1em 0;
}

header {
	height: 160px;
    background-color: #16162e;
	font: 400 1.5em/0.7 'Raleway', sans-serif;
	letter-spacing: .4em;
    text-align: center;
	color: #b9b9c0;
}

header img {
	width: auto;
	height: 192px;
	opacity: 0.6;
	position: relative;
	top: -16px;
	left: 16px;
	filter: alpha(opacity=60);
}

header h1 {
	color: #b9b9c0;
	font: 600 1.5em/1 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
	filter: alpha(opacity=60);
	position: relative;
	left: 32px;
	font-size: 60px;
	text-align: center;
}

#divCentral {
    display: flex;
	justify-content: space-between;
	align-items: stretch;
    margin: auto;
	box-sizing: border-box;
	height: 100%;
}

nav ul {
	
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0b0b18;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #b9b9c0;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-style: sans-serif; 
}

nav li a:hover {
  background-color: #34374d;
}

main {
	flex : 10;
    background-color: #EEEEEE;
    padding-left: 6em;
}

main img {
  float: right;
  margin: 0px 0px 15px 20px;
  width: 50%; 
  height: auto; 
}

main p {
	background-color: #b8b4ba;
	font-style: sans-serif;
	font-variant: small-caps;
	letter-spacing: .1em;
	text-align: justify;
	border-left: 3px solid;
	border-left-color: #20233f; 
	border-radius: 8px;
	margin-left: 1em;
	margin-bottom: 1em;
	margin-right: 1em;
	margin-top: 1em;
}

#playnow {
  background-color: #16162e;
  border-radius: 12px;
  color: #b9b9c0;
  font-style: sans-serif;
  font-variant: small-caps;
  padding: 14px 40px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

footer {
	display: flex;
	height: 80px;
	justify-content: space-around;
    background-color: #16162e;
	color:#b9b9c0;
	font-style: sans-serif;
}

footer img { 
	width: 70%; 
	height: 80%;
	opacity: 60; 
    filter: alpha(opacity=60);
	position: relative;
	top: 5px;
	left: 10px;
}

footer p {
	font-style: sans-serif;
	background-color: #20233f;
	text-align: justify;
	border-radius: 4px;
	margin-left: 1em;
	margin-bottom: 0em;
	margin-right: 1em;
	margin-top: 1em;
}

footer span {
	position: relative; 
	top: 35px; 
	color: #b9b9c0;
	font-style: sans-serif;
}



table#critiqueTab {
  width: 100%;
  background-color: #f1f1c1;
}
table#critiqueTab {
  border-collapse: collapse;
}
table#critiqueTab td {
  border: 1px solid black;
}